#OpenMMLab packages
openmim
mmcv-lite>=2.0.0rc4,<2.1.0
mmdet>=3.0.0
mmengine>=0.7.1
git+https://github.com/onuralpszr/mmyolo.git@master

#Pytorch packages
torch
torchvision

# gradio
transformers
tokenizers
numpy
opencv-python
supervision==0.18.0
# Development
# yapf