torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
opencv-python==4.9.0.80
mmcv<2.2.0
mmdet>=3.0.0
mmengine==0.10.4
git+https://github.com/onuralpszr/mmyolo.git
timm==0.6.13
transformers==4.36.2
albumentations
gradio==4.16.0
supervision
onnx
onnxruntime
onnxsim